/* buttons with mixins */

.btn-secondary {
    .button-variant(#fff; @brand-secondary; @brand-secondary);
    font-family: 'sans-serif';
}


.login-container {
    &:extend(.container);

    h3 {
       color: #363737;
       font-weight: 700;
    }

    p {
        color: #A9ADAC;
        font-weight: 600;
    }

    form {

        #second_row {

            #emailfield {
                input {
                    .make-md-column(4);
                }
            }

            #passwordfield {
                input {
                    .make-md-column(4);
                    .make-md-column-offset(1);
                }
            }
        }
        #helprow{
            .make-md-column(9);
            padding-left: 0;

            #checkboxfield {
                .make-md-column(3);
                padding-left: 0;
            }

            label#lblforrememberme {
                color: @brand-secondary;
                font-weight: 200;
                margin-top: 7px;
                margin-left: 5px;
            }
            #forgot_password{
                .make-md-column-offset(7);
                color: @brand-secondary;
                display: block;
                margin-top: 7px;
            }
        }

    }
}
