/* buttons with mixins */

.btn-secondary {
    .button-variant(#fff; @brand-secondary; @brand-secondary);
    font-family: 'sans-serif';
}


.login-container {
    &:extend(.container);
    min-width: 292px;
    padding: 40px 15px;

    input {
        margin-bottom: 15px;
    }

    h3 {
       color: #363737;
       font-weight: 700;
    }

    p {
        color: #A9ADAC;
        font-weight: 600;
    }

    form {



        #second_row {

            #emailfield {
                input {
                    .make-md-column(4);
                    .make-xs-column(12);
                }
            }

            #passwordfield {
                input {
                    .make-md-column(4);
                    .make-md-column-offset(1);
                    .make-xs-column(12);
                }
            }
        }
        #helprow{
            .make-md-column(9);
            .make-xs-column(12);
            padding-left: 0;

            input {
                margin-bottom: 10px;
            }

            #checkboxfield {
                .make-md-column(3);
                .make-xs-column(6);
                padding-left: 0;
            }

            label#lblforrememberme {
                color: @brand-secondary;
                font-weight: 200;
                margin-top: 7px;
                margin-left: 5px;
            }
            #forgot_password{
                .make-md-column-offset(7);
                color: @brand-secondary;
                display: block;
                margin-top: 7px;
            }
        }
        #fourthrow {
            .make-xs-column(3);

            #submitbutton {
                width: 115px;
                height: 100%;
                border:none;
                box-shadow: none;
               -webkit-box-shadow: none;
               -moz-box-shadow: none;
               -moz-transition: none;
               -webkit-transition: none;
            }
        }
    }

}

@media screen and (max-width:@screen-sm-max) {
    .login-container {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        form {
            #helprow {
                padding-right: 0;
                margin-top: 15px;

                #checkboxfield {
                    padding-right: 0;
                }

                #forgot_password{
                    float: right;
                    display: inline;
                }
            }

            #fourthrow {
                .make-row();
                .make-xs-column(12);
                text-align:center;

            }

        }



    }
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 2px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: @gray-base;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #ccc;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid @brand-secondary!important;
}
